body{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image:url(guitar\ 2.jpg)    
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #335943;
    color: #ffffff;
}
.Profile{
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

header {
    background-color: #744848;
    padding: 1rem 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
}

section {
    padding: 4rem 0;
    
}

h1, h2 {
    text-align: center;
}

.hero {
    text-align: center;
}

.hero-image {
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}


.btn {
    background-color: #757f89;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list li {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #ccb6b6;
    border-radius: 5px;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.social-links li {
    margin: 0 1rem;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

footer {
    background-color: #222;
    padding: 1rem 0;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero {
        text-align: left;
    }

    .hero-image {
        text-align: left;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }
}
